* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family:"courier";
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: rgb(0, 0, 0);
  
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  background-color: #000026;
  border-bottom: 7px solid #82490b;
}

#dificulty {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-align: center;
}

#easyBtn {
  background-color: rgb(73, 230, 112);
  border-radius: 0.3cm;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  margin-right: 2rem;
}

#medBtn {
  background-color: rgb(255, 196, 0);
  border-radius: 0.3cm;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  margin-right: 2rem;
}
#hardBtn {
  background-color: rgb(255, 0, 0);
  border-radius: 0.3cm;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  margin-right: 2rem;
}

main {
  height: 65vh;
  color: #82490b;
  display: flex;
  align-items: center;
  background-color: #000000;
  justify-content: space-around;
}

#left {
  border: rgb(37, 37, 37) solid 5px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

#center {
  margin-left: -90px;
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#right {
  border: rgb(37, 37, 37) solid 5px;
  width: 300px;
  height: 200px;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#numberBox {
  border: #82490b solid 5px;
  background: #000000;
  color: rgb(255, 255, 255);
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

#between {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: #82490b;
}

#againBtn {
  position: absolute;
  top: 2rem;
  left: 2rem;
  border: #82490b solid 4px;
  border-radius: 10px;
}

#guessBox {
  background: none;
  border: 5px solid #0f0f70;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

button {
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

#message {
  margin-bottom: 8rem;
  height: 3rem;
  color:red;
}

#label-score {
  margin-bottom: 2rem;
}

.hidden {
	display:none;
}

#label-highscore {
  padding-left: 10px;
  font-size: 40px;
  font-weight: bold;
}

#trys {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
  padding-left: 70px;
}

.rainbow {
  animation: rainbow 5s infinite;
}

@keyframes rainbow {
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: purple;
  }
}

.breathing {
  animation: breathing 1s ease-in-out infinite;
}

@keyframes breathing {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

#checkBtn {
  color: rgb(8, 141, 8);
}